body{
    background-color: rgba(230, 104, 115, 0.74);
}

h1{
    color: white;
    background-color: black;
}

.primeiroexemplo{
    color: rgb(41, 53, 223);
    background-color: azure;
}

.segundoexemplo{
    color: rgb(129, 6, 6);
    background-color: rgb(154, 134, 194);
}
